.plansTable {
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--white-transparent);
}
.headColumn {
  display: flex;
}
.headColumn > :first-child {
  margin-right: 8px;
}
.row {
  border-bottom: 1px solid var(--white-transparent);
}

.row > * {
  padding: 16px;
}
