.container {
  background-color: var(--white);
  padding: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  color: var(--black);
  height: 100%;
}
