.containerShadow {
  display: flex;
  width: fit-content;
  position: relative;
  border-radius: 4px;
}

.card {
  background-image: linear-gradient(
    to right,
    var(--transparent-blue),
    #20292b5e,
    #20292b5e,
    var(--transparent-blue)
  );
  border: 2px solid var(--light-green);
  color: var(--white);
  display: flex;
  flex-direction: column;
  height: 320px;
  position: relative;
  padding: 8px;
  width: 220px;
  transition: all 0.1s ease-in;
}
.shine {
  position: absolute;
  top: 20%;
  display: none;
  left: 2%;
  width: 210px;
  height: 200px;
  border-radius: 50%;
  z-index: -1;
}

.shine.show {
  display: block;
}

.card.show {
  z-index: 4;
  background-image: radial-gradient(
    circle,
    #478da5ad,
    var(--transparent-blue),
    var(--transparent-blue)
  );
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: var(--lg);
  flex-basis: 100%;
  justify-content: center;
  padding: 8px;
}
.title > .icon {
  margin-bottom: 16px;
}
.title.showDetails {
  flex-basis: 60%;
  justify-content: flex-end;
  font-size: var(--lg);
}
.title.showDetails > .icon {
  width: var(--superlg);
  margin-bottom: 24px;
}
.icon {
  width: 40px;
  margin-bottom: 16px;
}

.details {
  display: none;
}

.details.showDetails {
  display: flex;
  flex-direction: column;
  font-size: var(--ty);
  padding: 0 8px;
  flex-grow: 1;
  justify-content: space-around;
}
.details > :first-child {
  color: var(--btn-primary-border-color);
  font-size: calc(var(--ty) - 1px);
}
.link {
  border: 2px solid var(--light-green);
  padding: 8px 16px;
  font-size: calc(var(--ty) + 1px);
}
button.link {
  display: flex;
}

@media screen and (max-width: 640px) {
  .details > :first-child {
    text-align: center;
  }
}
