.inputSection {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(3, auto);
  padding: 16px;
  border: 1px solid var(--gray-transparent);
  border-radius: 16px;
  gap: 16px;
  width: 100%;
  background-color: var(--black-transparent);
}
.section {
  margin-bottom: 32px;
}

.section > :first-child {
  margin-bottom: 4px;
  font-size: var(--ty);
}

.section > :last-child {
  font-size: var(--sm);
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .inputSection {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    padding: 16px;
    gap: 16px;
  }
  .section {
    margin-bottom: 0;
  }
}
