.tagInputContainer {
  --base-border-radius: 8px;
}
.header {
  display: flex;
  margin-bottom: 8px;
}
.tagInput {
  min-height: 44px;
  display: flex;

  border: 1px solid var(--dark-gray);
  position: relative;
  border-radius: var(--base-border-radius);
}
.tagInput:hover {
  background-color: rgba(210, 210, 210, 0.119);
}
.predefinedTags {
  display: flex;
  padding: 4px;
  flex-grow: 1;
  margin-right: 8px;
  border: 1px solid var(--dark-gray);
  border-radius: var(--base-border-radius);
}
.listPredefinedTags {
  display: flex;
}

.predefinedTag {
  padding: 8px;
  border-radius: calc(var(--base-border-radius) / 2);
  margin: 2px;
  border: 1px solid var(--dark-gray);
  cursor: pointer;
}
.predefinedTag.included {
  background-color: var(--orange);
  color: var(--white);
}

.tagInput:has(input:focus) {
  border: 1px solid var(--white-transparent);
}
.tags {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 70%;
  flex-wrap: wrap;
}

.tag {
  display: flex;
  background-color: var(--orange);
  color: var(--white);
  justify-content: center;
  align-self: center;
  border-radius: 8px;
  padding: 8px;
  margin: 2px;
}
.tag > :first-child {
  flex-shrink: 0;
}

.selectBtns {
  position: absolute;
  left: 92.5%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}
.selectBtns > :first-child {
  margin-right: 4px;
}
.select {
  position: absolute;
  width: 100%;
  left: 0;
  max-height: 120px;
  background-color: var(--linkedin-bluegray);
  top: 99%;
  padding: 8px;
  overflow: auto;
  border: 1px solid var(--dark-gray);
}
.select > * {
  cursor: pointer;
}
