.tagInput {
  height: 100px;
  padding: 4px;
  border: 1px solid var(--dark-gray);
  overflow: auto;
  border-radius: 8px;
}

.tagInput:has(input:focus) {
  border: 1px solid var(--white-transparent);
}
.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  display: flex;
  background-color: var(--white);
  width: fit-content;
  color: var(--black);
  justify-content: center;
  align-self: center;
  border-radius: 8px;
  padding: 4px;
}
