.text,
.title {
  font-family: "DM Sans", sans-serif;

  font-size: inherit;
  line-height: 1.1;
}

.title {
  font-size: var(--xxlg);
}

.inherit {
  color: inherit;
}

.bold {
  font-weight: bold;
}

.soft {
  color: var(--btn-primary-border-color);
}
