.chooseBusiness {
  background-color: var(--black);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  color: var(--white);
  padding-top: 64px;
}

.options {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  justify-items: center;
  width: 800px;
  row-gap: 64px;
  column-gap: 32px;
  z-index: 1;
}
@media screen and (max-width: 700px) {
  .options {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
  }
  .options > * {
    width: 100% !important;
  }
}
