.planDetail {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  color: var(--white);
  position: relative;
}
.content {
  display: flex;
  padding-top: 60px;
  padding-left: 16px;
  width: 100%;
}

.cardsDetail {
  display: flex;
  flex-direction: column;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 50%;
  z-index: 1;
}
.inputUser {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-grow: 1;

  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 16px;
}

.info > :first-child {
  margin-bottom: 32px;
  font-size: var(--lg);
}
.info > :last-child {
  font-size: var(--sm);
  color: gainsboro;
}

.img {
  width: 280px;
}

.cardsDetail {
  display: flex;
  flex-direction: column;
}

.details {
  font-size: 16px;
}

@media screen and (max-width: 850px) {
  .inputUser {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 700px) {
  .content {
    flex-direction: column;
    padding-top: 20px;
    padding-left: 0;
  }
  .planDetail {
    flex-direction: column;
  }
  .cardsDetail {
    align-items: center;
    margin: 32px 0;
  }
  .inputUser {
    justify-content: flex-start;
    grid-template-columns: repeat(3, auto);
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 500px) {
  .planDetail {
    padding: 0 24px;
    padding-top: 60px;
  }
  .description {
    margin-right: 0;
  }
  .cardsDetail {
    align-items: start;
  }
  .info {
    margin: 0;
  }
  .inputUser {
    grid-template-columns: auto;
    grid-auto-rows: auto;
  }
}
