.planDetail {
  display: flex;
  padding: 0 32px;
  width: 100%;
  min-height: 100vh;
  padding-top: 60px;
  background-color: black;
  color: var(--white);
  position: relative;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 50%;
  z-index: 1;
  margin-right: 16px;
}
.inputUser {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  align-content: center;
  column-gap: 16px;
  row-gap: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 16px;
}

.info > :first-child {
  margin-bottom: 32px;
  font-size: var(--lg);
}
.info > :last-child {
  font-size: var(--sm);
  color: gainsboro;
}

.img {
  width: 280px;
}

.cardsDetail {
  display: flex;
  flex-direction: column;
}

.details {
  font-size: 16px;
}

@media screen and (max-width: 850px) {
  .inputUser {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 700px) {
  .planDetail {
    flex-direction: column;
  }
  .cardsDetail {
    margin: 32px 0;
  }
  .inputUser {
    grid-template-columns: repeat(3, auto);
  }
}

@media screen and (max-width: 500px) {
  .inputUser {
    grid-template-columns: auto;
    grid-auto-rows: auto;
  }
}
