.button {
  padding: 4px 32px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.button.fulled {
  background-color: aliceblue;
  color: black;
}

.button.bordered {
  border: 1px solid aliceblue;
  color: aliceblue;
}
