.dashboard {
  background-color: black;
  color: var(--white);
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  display: flex;
}

.verticalNav {
  border: 1px solid var(--white);
  position: relative;
  z-index: 1;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  justify-content: space-evenly;
}

.content {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  width: 100%;
}

.myPrompts {
  margin: 0 16px;
  flex-grow: 1;

  justify-content: center;
  flex-wrap: wrap;
}
.askQuestion,
.myPrompts,
.affiliateProgram {
  position: relative;
  z-index: 1;
  display: none;
}
.askQuestion {
}
.myPrompts > * {
  margin: 8px;
}

.affiliateProgram {
  justify-content: center;
  flex-grow: 1;
}

.show {
  display: flex;
}

@media screen and (max-width: 640px) {
  .dashboard {
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 100vh;
    padding-left: 0;
  }
  .verticalNav {
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 16px;
  }
}
