.promptSectionDetail {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: var(--white);
  position: relative;
}
.close {
  position: fixed;
  z-index: 10;
  right: 10%;
  top: 10%;
  cursor: pointer;
}
.content {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.navigation {
  display: flex;
  border-bottom: 1px solid var(--white-transparent);
  justify-content: space-around;
  align-items: center;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  padding: 8px;
}

.options {
  display: flex;
  width: 300px;
  overflow: hidden;
  justify-content: space-between;
}
.options > * {
  transition: all 0.3s ease-in;
  flex-shrink: 0;
  cursor: pointer;
  padding-right: 8px;
}

.main {
  position: relative;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  top: 10px;
  padding: 24px;
  line-height: 1.7;
}

.md > ol,
.md > ul {
  margin-left: 36px;
}
.main > section:not(:last-child) {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--white-transparent);
}
.detail > :first-child {
  margin-bottom: 16px;
}
.askQuestions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}
.askQuestions > * {
  margin-bottom: 16px;
}
.antNextBtns {
  margin-top: 32px;
  width: 100%;
}
@media screen and (min-width: 600px) {
  .options {
    width: auto;
    justify-content: space-between;
  }
  .content {
    overflow: hidden;
    flex-direction: row;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-right: 1px solid var(--white-transparent);
  }
  .navigation .options {
    flex-direction: column;
    width: 250px;
  }
  .navigation .options > * {
    margin-bottom: 16px;
  }
  .main {
    height: 500px;
    overflow: auto;
    padding: 32px;
  }
  .close {
    top: 5%;
  }
  .options > *:not(:last-child) {
    margin-right: 16px;
  }
}
