.promptSectionDetail {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--black);
  color: var(--white);
  --base-margin: 24px;
  --base-border-radius: 16px;
  position: relative;
}
.promptSectionDetail > * {
  font-family: "Inter", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
}
.detail,
.questions {
  margin-bottom: var(--base-margin);
}
.questions,
.detail,
.askQuestions {
  background-color: var(--linkedin-bluegray);
  border-radius: var(--base-border-radius);
}
.questions,
.askQuestions {
  padding: 16px;
}
.detail > *:not(.banner) {
  padding: 16px;
}

.prevNextBtns {
  position: absolute;
  right: 2%;
  top: 4%;
  display: flex;
}
.close {
  z-index: 10;
  margin-right: 16px;
}
.content {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  z-index: 1;
}
.empty {
  display: none;
}
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--linkedin-bluegray);
  transition: all 0.2s ease-in;
}
.navigation.scrolledDown {
  position: relative;
  transform: translateY(-56%);
}
.navigation.scrolledDown ~ .main {
  transition: all 0.2s ease-in;
  position: relative;
}
.hoverBg {
  display: flex;
  justify-content: center;
  width: 100px;
  padding: 4px 0;
  border-radius: 8px;
  background-color: transparent;
}
.hoverBg.showBg {
  background-color: var(--gray-blue);
}
.navigationReport {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
}
.navigationReport.submenu {
  justify-content: center;
  border-top: 1px solid var(--white-transparent);
  transform: translateX(2%);
}
.socialMedia {
  background-color: var(--linkedin-bluegray);
  border-radius: var(--base-border-radius);
  width: fit-content;
  height: fit-content;
  flex-basis: 240px;
  display: flex;
  flex-direction: column;
  margin-right: var(--base-margin);
  flex-shrink: 0;
  position: sticky;
  top: 0;
}
.shareLinks {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-around;
}
.iconBg {
  padding: 8px;
  border-radius: 8px;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner > :first-child {
  padding: 16px;
}
.stats {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--white-transparent);
  border-bottom: 1px solid var(--white-transparent);
  padding: 16px 8px;
  margin: 16px 0;
}
.stat {
  display: flex;
  justify-content: space-between;
}
.options {
  display: flex;
  width: auto;
  justify-content: center;
}
.options.topOptions {
  flex-grow: 1;
  display: flex;
  transform: translateX(-10%);
}
.options > * {
  transition: all 0.3s ease-in;
  flex-shrink: 0;
  cursor: pointer;
}
.toolsList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}
.tool {
  border-radius: 8px;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  gap: 8px;
  margin-right: 8px;
  display: flex;
}
.tool.showBg {
  background-color: var(--gray-blue);
}
.toolIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.main {
  display: flex;
  position: relative;
  overflow-y: auto;
  flex-direction: row;
  padding: var(--base-margin) calc(var(--base-margin) * 3);
  line-height: 1.7;
}
.welcomeBanner {
  display: flex;
  border-radius: var(--base-border-radius);
  background-color: var(--linkedin-bluegray);
  align-items: center;
  position: relative;
  flex-direction: column;
  padding: 8px 8px 24px 8px;
}

.details {
  width: 50%;
  flex-shrink: 0;
  margin-right: var(--base-margin);
}

.bannerImg {
  width: 100%;
  height: 240px;
  margin-top: 24px;
}
.details > :first-child {
  margin-bottom: 16px;
}
.md ol,
.md ul {
  margin-left: 36px;
  list-style: none;
}
.md ul li::before,
.md ol li::before {
  content: "\2022";
  color: var(--white);
  font-weight: bold;
  display: inline-block;
  font-size: 1rem;
  position: absolute;
  margin-left: -1em;
}
.md li {
  position: relative;
  margin-bottom: 16px;
}
.md h1 {
  font-size: 2rem;
}
.md h2 {
  font-size: calc(1rem + 8px);
}
.md h2,
.md h3,
.md h4 {
  font-weight: bold;
}
.md h1,
.md h2,
.md h3,
.md h4 {
  font-weight: bold;
}

.btns {
  display: flex;
  margin-top: 24px;
  margin-bottom: 40px;
}
.btns > :first-child {
  margin-right: 16px;
}

.md h2,
.md h3,
.md h4 {
  font-size: 1rem;
  margin-top: 40px;
  margin-bottom: 8px;
  font-weight: bold;
}
.md h2 {
  font-size: calc(2rem - 12px);
}
.md h3 {
  font-size: 1rem;
  font-weight: bold;
}
.md p,
.md li {
  font-size: 1rem;
  color: gainsboro;
}
.md h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.4;
}
.main > section:not(:last-child) {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--white-transparent);
}

.detail > :first-child {
  margin-bottom: 16px;
}
.askQuestions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}
.askQuestions > :first-child {
  align-self: flex-start;
}
.askQuestions > * {
  margin-bottom: 16px;
}
.antNextBtns {
  display: flex;
  margin: 32px 0;
  justify-content: space-evenly;
}

.antNextBtns.desktop {
  display: none;
}
.antNextBtns.mobile {
  display: flex;
}

.close {
  top: 3.5%;
}

.tools {
  background-color: var(--linkedin-bluegray);
  padding: 16px;
  height: 100vh;
  border-radius: var(--base-border-radius);
  display: flex;
  flex-basis: 28%;
  flex-shrink: 0;
  flex-direction: column;
}
.tools > :first-child {
  margin-bottom: 32px;
}
.options {
  width: auto;
  justify-content: center;
}
.content {
  overflow: hidden;
}
.details {
  width: 50%;
  flex-shrink: 0;
}

.options > * {
  margin-right: 8px;
}
.main {
  display: flex;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: row;
  line-height: 1.7;
  background-color: var(--black);
}
.tools {
  position: sticky;
  top: 0;
  width: 400px;
  overflow-y: auto;
  height: 100vh;
}
.antNextBtns.desktop {
  display: flex;
}
.antNextBtns.mobile {
  display: none;
}
.btns {
  display: flex;
  margin-top: 24px;
  margin-bottom: 40px;
}

.btns > * {
  margin-right: 16px;
}

@media screen and (max-width: 1130px) {
  .tools {
    display: none;
  }
  .details {
    flex-grow: 1;
  }
  .main {
    padding: 16px;
  }
}
@media screen and (max-width: 700px) {
  .logo {
    display: none;
  }
  .tools {
    display: flex;
    position: relative;
    overflow-y: visible;
    width: 100%;
  }
  .navigationReport.submenu {
    transform: translateX(0);
    justify-content: flex-start;
  }

  .main {
    flex-direction: column;
  }
  .details {
    width: 100%;
  }
  .topOptions {
    transform: translateX(0%) !important;
    flex-grow: 0 !important;
  }
  .socialMedia {
    position: relative;
    width: 100%;
    margin-bottom: 16px;
  }
}
