.optionCard {
  border: 1px solid var(--white-transparent);
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  position: relative;
  transition: all 0.4s ease-in;
  cursor: pointer;
  border-radius: 16px;
  justify-content: space-between;
}

.img {
  width: 150px;
  filter: opacity(80%);
  align-self: center;
}

.title {
  text-align: center;
  font-size: var(--sm);
}

.details {
  display: flex;
  justify-content: space-between;
}

.iconDesc {
  display: flex;
}
.iconDesc > :first-child {
  position: relative;
  top: 4px;
  margin-right: 4px;
}
.desc > :first-child {
  font-size: var(--ty);
}
.desc > :last-child {
  font-size: var(--ty);
}
