.gradientBorder {
  width: fit-content;
  height: fit-content;
  padding: 2px;
  background-image: linear-gradient(#6f6ffa, #00fbf8);
}

.gradientBorder > * {
  border: none !important;
  border-radius: inherit;
}
