.carousel {
  position: relative;
  right: 8px;
  padding: 32px 0;
}

.customButtons {
  position: absolute;
  width: 100%;
}

.leftBtn,
.rightBtn {
  font-size: 40px;
}
.leftBtn {
  position: relative;
  right: 6px;
}

.rightBtn {
  position: absolute;
  left: 97%;
}
