.input {
  font-size: var(--sm);
  padding: 16px 24px 16px 12px !important;
  position: relative;
}

.input.borderFull.primary {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid var(--white);
}

.input.borderBottom.primary {
  background-color: transparent;
  border-bottom: 1px solid var(--white);
}
.input.borderFull.secondary {
  background-color: var(--secondary-light);
  border: 1px solid var(--secondary-light);
}

.input.borderNone.primary {
  background-color: transparent;
  border-bottom: 1px solid transparent;
}
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--white);
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
