.container {
  width: 100%;
  display: flex;
}
.container.shine > * {
  box-shadow: 0 0 5px var(--white);
}
.container > * {
  border: 1px solid rgba(255, 255, 255, 0.637);
  background: none !important;
}

.container > * {
  width: 100%;
}
