.textarea {
  resize: none;
  width: 100%;
  background: none;
  border: 1px solid var(--dark-gray);
  border-radius: 8px;
  padding: 16px;
  font-size: var(--ty);
}

.textarea:focus {
  outline: none;
  border: 1px solid var(--white-transparent);
}
