.landingPageNav {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease-in;
  transform: translateY(-100%);
}

.show {
  transform: translateY(0%);
}

.links,
.buttons {
  display: flex;
}

.buttons {
  align-items: center;
}

.links {
  margin-right: 64px;
  display: flex;
  align-items: center;
}

.links > * {
  margin: 0 16px;
}

.buttons > :last-child {
  margin-left: 8px;
}

.buttons > :first-child {
  margin-right: 4px;
  position: relative;
  top: 1px;
}

.loginBtn,
.startBusinessBtn {
  font-size: 16px;
}

.loginBtn {
  padding: 12px 40px !important;
}
