.verticalLoginNav {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  border-right: 1px solid var(--gray-transparent);
  width: 250px;
  overflow: hidden;
  z-index: 100000;
  transition: width 0.3s ease-in-out;
}

.verticalLoginNav.hidden {
  width: 64px;
}

.icon {
  width: var(--xxxlg);
}
.arrow {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin-bottom: 32px;
}
.section {
  display: flex;
  align-items: center;
  padding: 16px 32px;
  width: 250px;
  transition: padding 0.3s ease-in-out;
  cursor: pointer;
  border-left: 4px solid transparent;
}

.section .icon {
  margin-right: 16px;
}
.active {
  border-left: 4px solid var(--white);
}

.hidden .section {
  padding: 16px 0;
  padding-left: 12px;
}
.hidden .arrow {
  width: 100%;
  padding-left: 2px;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .verticalLoginNav {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: center;
    padding: 0 32px;
    border: none;
    border-top: 1px solid var(--btn-primary-border-color);
    width: 100vw;
    overflow: hidden;
    z-index: 1000;
    background-color: var(--dark-blue);
    transition: width 0.3s ease-in-out;
  }
  .verticalLoginNav.hidden {
    width: 100%;
  }
  .icon.arrow {
    display: none;
  }

  .section {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    border: none;
    margin: 0;
    align-items: center;
    border-bottom: 2px solid transparent;
  }
  .section .icon {
    margin-right: 0;
    margin-bottom: 8px;
  }
  .hidden .section {
    padding-left: 0;
  }
  .active {
    border: none;
    border-bottom: 2px solid var(--white);
  }
}
