.paddaSkillsSection {
  display: flex;
  flex-direction: column;
  background-color: var(--linkedin-bluegray);
  padding: 16px;
  border-radius: 8px;
}

.header {
  display: flex;
  align-items: center;
  align-self: self-start;
  border-bottom: 1px solid var(--white-transparent);
  margin-top: 32px;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.header > :nth-child(2) {
  margin: 0 8px;
}
