.progressBar {
  border: 6px solid var(--primary-dark);
  padding: 4px;
  border-radius: 4px;
  width: 380px;
  height: 40px;
}
.innerBar {
  width: 0%;
  transition: width 0.3s ease-in;
  height: 100%;
  background-color: var(--primary-dark);
}

@media screen and (max-width: 640px) {
  .progressBar {
    width: 100%;
  }
}
