.navigation {
  display: flex;
  margin: 4px;
  position: relative;
  top: 4px;
}

.element {
  display: block;
  width: 35px;
  margin: 0 12px;
  padding-bottom: 8px;
}

.element.selected {
  border-bottom: 2px solid var(--text-light);
}
