.detailCard {
  display: flex;
  padding: 24px 16px;
  border-radius: 8px;
  border: 1px solid aliceblue;
  align-items: center;
}

.detailCard > :nth-child(2) {
  font-size: 20px;
}
.detailCard > :not(:last-child) {
  margin-right: 32px;
}

.icon {
  border-radius: 50%;
  background-color: rgba(0, 0, 255, 0.37);
  box-shadow: 0 0 25px blue;
  width: 35px;
}
.btn {
  margin-left: 32px;

  position: relative;
  width: 32px;
  bottom: 2px;
  transform: rotateY(180deg);
}
