.detailCard {
  display: flex;
  flex-direction: column;
  background-color: var(--black-transparent);
  padding: 24px;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 16px;
  border: 1px solid var(--gray-transparent);
}

.detailCard::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    #c2c2c24f,
    transparent 40%
  );
  border-radius: inherit;
  content: "";
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.detailCard:hover::before {
  opacity: 1;
}

.img {
  width: 125px;
  align-self: center;
  filter: opacity(80%);
  margin-bottom: 16px;
}
.img > * {
  width: 100%;
  height: 100%;
  transform: scale(350%);
}

.detail {
  display: flex;
  justify-content: center;
}

.icon {
  margin-right: 8px;
  position: relative;
  top: 6px;
}

.nameTitle > :first-child {
  font-weight: bold;
  font-size: var(--sm);
}

@media screen and (max-width: 700px) {
  .detailCard {
    width: 100%;
  }
  .nameTitle > :first-child {
    font-weight: bold;
    font-size: var(--sm);
  }

  .nameTitle > :last-child {
    font-size: var(--ty);
  }
}
