.startABusiness {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  background-color: black;
  color: var(--white);
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 80px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 450px;
  flex-grow: 1;
  z-index: 1;
  justify-content: center;
}

.field {
  display: none;
  flex-direction: column;
  align-items: center;
}

.field > :first-child {
  font-size: var(--xlg);
  margin-bottom: 16px;
}

.field > :last-child {
  margin-top: 16px;
}

.input.shine {
  box-shadow: 0 0 10px var(--color-shining);
}
.textarea {
  background: none;
  resize: none;
  width: 100%;
  height: 150px;
  border: 1px solid var(--white-transparent);
  padding: 8px;
  border-radius: 8px;
}
.textarea.shine {
  box-shadow: 0 0 5px var(--white-transparent);
}
.textarea:focus {
  outline: none;
}
.teachersField {
  position: relative;
  bottom: 40px;
}

.teachersContainer {
  display: grid;
  margin-top: 32px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 40px;
}
.teacher {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  border: 1px solid var(--white);
}

.teacher.shine {
  box-shadow: 0 0 10px var(--color-shining);
}
.controls {
  display: flex;
  width: 650px;
  z-index: 1;
  justify-content: space-between;
  margin-bottom: 40px;
}

.generateIdeaBtn {
  padding: 12px 64px;
  border: 1px solid var(--white-transparent);
  border-radius: 4px;
  font-size: var(--xlg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.antBtn,
.nextBtn {
  border: 2px solid var(--gray-transparent);
  justify-content: space-between;
  display: flex;
  border-radius: 16px;
}
.antBtn {
  padding: 8px 8px 8px 16px;
}
.nextBtn {
  padding: 8px 16px 8px 8px;
}
.arrow {
  width: 40px;
}
.desc {
  display: flex;
  align-items: center;
  position: relative;
  top: 2px;
}

.antBtn .arrow {
  margin-right: 16px;
}

.nextBtn .arrow {
  margin-left: 16px;
}

.nextBtn.shine {
  box-shadow: 0 0 10px var(--color-shining);
}

.show {
  display: flex;
}

@media screen and (max-width: 640px) {
  .startABusiness {
    padding: 16px;
  }
  .form {
    width: 100%;
  }
  .teacher {
    width: 80px;
    height: 80px;
  }
  .controls {
    width: 100%;
    margin-bottom: 80px;
  }

  .controls > :first-child {
    margin-right: 8px;
  }
  .antBtn .arrow {
    margin-right: 60px;
  }

  .nextBtn .arrow {
    margin-left: 60px;
  }
}
