.myPrompts {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 14px;
}
.carousel {
  width: 950px;
  padding: 0 32px;
}
.element {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 5;
}

@media screen and (max-width: 640px) {
  .carousel {
    width: 100vw;
    padding: 0;
  }
}
