.myPrompts {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 14px;
}
.list {
  width: 950px;
  padding: 16px 32px;
  border: 1px solid var(--white-transparent);
  border-radius: 8px;
  position: relative;
}
.element {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 5;
}
.paginator {
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 640px) {
  .list {
    width: 100vw;
    padding: 0;
  }
}
