.carousel {
  position: relative;
  right: 8px;
  padding: 60px 0;
}

.customButtons {
  position: absolute;
  width: 100%;
}

.leftBtn,
.rightBtn {
  font-size: var(--big);
  z-index: 10;
}
.leftBtn {
  position: relative;
  right: 6px;
}

.rightBtn {
  position: absolute;
  left: 97%;
}

@media screen and (max-width: 640px) {
  .rightBtn {
    left: 92%;
  }
}
