* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px !important;
  background-color: #1e1c24 !important;
}

input:autofill {
  background: none !important;
}
input:-webkit-autofill {
  background: none !important;
}
:root {
  --primary-light: #2d4356;
  --btn-primary-border-color: #bdbdbd;
  --primary-dark: #2d4356;
  --secondary-light: #3d82dd;
  --secondary-dark: #21252f;
  --text-light: white;
  --white: aliceblue;
  --bg-dark-green: #10323e;
  --text-dark: black;
  --black: rgb(0, 0, 0);
  --bg-dark: #1e1c24;
  --gradien-blue: #0d2a3d;
  --bg-blue-dark: #061e32;
  --color-shining: #0282b5;
  --blue-shining: #0282b52c;
  --transparent-black: rgba(0, 0, 0, 0.411);
  --transparent-blue: #3392b246;
  --md: 20px;
  --sm: 16px;
  --ty: 12px;
  --lg: 24px;
  --xlg: 32px;
  --xxlg: 36px;
  --xxxlg: 40px;
}

h1 {
  font-size: 2.4rem;
}
p {
  font-size: 1.1rem;
}
img {
  height: auto;
  object-fit: cover;
}
input {
  background: none;
}
input:focus {
  outline: none;
}
