@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

*:not(ol, ul) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
}
body {
  background-color: #1e1c24 !important;
}

input:autofill {
  background: none !important;
}
input:-webkit-autofill {
  background: none !important;
}
:root {
  --primary-light: #2d4356;
  --btn-primary-border-color: #bdbdbd;
  --primary-dark: #2d4356;
  --secondary-light: #3d82dd;
  --secondary-dark: #21252f;
  --text-light: white;
  --white-transparent: rgba(255, 255, 255, 0.479);
  --gray-transparent: rgba(128, 128, 128, 0.226);
  --dark-gray: rgb(59, 59, 59);
  --white: #d9d9d9;
  --bg-dark-green: #10323e;
  --text-dark: black;
  --black: #0d0d0d;
  --black-transparent: rgba(41, 41, 41, 0.377);
  --bg-dark: #1e1c24;
  --gradien-blue: #0d2a3d;
  --bg-blue-dark: #061e32;
  --color-shining: #0282b5;
  --blue-shining: #0282b52c;
  --transparent-black: rgba(0, 0, 0, 0.411);
  --transparent-blue: #40687541;
  --transparent-green: #66858548;
  --dark-blue: rgb(12, 28, 47);
  --dark-green: #0e3541bb;
  --light-green: #8da9b3;
  --orange: #fd4b5a;
  --linkedin-bluegray: #1e2226;
  --linkedin-bluegray-light: #373d43;
  --gray-blue: rgb(66, 65, 72);
  --gray-blue-light: rgb(79, 78, 85);
  --mobile-w: 840px;
  --base-margin: 24px;
  --md: 1rem;
  --sm: 0.8rem;
  --ty: 0.6rem;
  --lg: 1.2rem;
  --xlg: 1.6rem;
  --xxlg: 1.8rem;
  --xxxlg: 2rem;
  --big: 2.5rem;
  --superlg: 3rem;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--black);
}
::-webkit-scrollbar-thumb {
  background: var(--gray-blue);
  border-radius: 10px;
}
img {
  height: auto;
  object-fit: cover;
}
input {
  background: none;
}
input:focus {
  outline: none;
}

@media screen and (max-width: 640px) {
  html,
  body {
    font-size: 13px;
  }
}
