* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 20px;
}
body {
  background-color: #1e1c24 !important;
}

input:autofill {
  background: none !important;
}
input:-webkit-autofill {
  background: none !important;
}
:root {
  --primary-light: #2d4356;
  --btn-primary-border-color: #bdbdbd;
  --primary-dark: #2d4356;
  --secondary-light: #3d82dd;
  --secondary-dark: #21252f;
  --text-light: white;
  --white-transparent: rgba(255, 255, 255, 0.479);
  --gray-transparent: rgba(128, 128, 128, 0.226);
  --white: aliceblue;
  --bg-dark-green: #10323e;
  --text-dark: black;
  --black: rgb(0, 0, 0);
  --bg-dark: #1e1c24;
  --gradien-blue: #0d2a3d;
  --bg-blue-dark: #061e32;
  --color-shining: #0282b5;
  --blue-shining: #0282b52c;
  --transparent-black: rgba(0, 0, 0, 0.411);
  --transparent-blue: #40687541;
  --transparent-green: #66858548;
  --dark-blue: rgb(12, 28, 47);
  --dark-green: #0e3541bb;
  --light-green: #8da9b3;
  --mobile-w: 840px;
  --md: 1rem;
  --sm: 0.8rem;
  --ty: 0.6rem;
  --lg: 1.2rem;
  --xlg: 1.6rem;
  --xxlg: 1.8rem;
  --xxxlg: 2rem;
  --big: 2.5rem;
  --superlg: 3rem;
}

h1 {
  font-size: var(--xxlg);
}
h2 {
  font-size: 1.5rem !important;
  font-weight: bold !important;
}
h3 {
  font-size: var(--lg) !important;
  font-weight: bold !important;
}
p {
  font-size: 1.1rem;
}
img {
  height: auto;
  object-fit: cover;
}
input {
  background: none;
}
input:focus {
  outline: none;
}

@media screen and (max-width: 640px) {
  html,
  body {
    font-size: 13px;
  }
}
