.aiDropshipings {
  padding: 32px;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  position: relative;
}

.title {
  border-bottom: 2px solid gainsboro;
  padding-bottom: 16px;
  font-size: var(--xlg);
  z-index: 1;
}

.desc {
  padding-top: 16px;
  color: rgba(220, 220, 220, 0.685);
  text-align: center;
  z-index: 1;
}

.carousel {
  padding: 32px;
  width: 100%;
  z-index: 1;
}
.element {
  display: flex;
  justify-content: center;
  z-index: 5;
}
