.aiDropshipings {
  padding: 32px;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  position: relative;
}

.title {
  padding-bottom: 16px;
  font-size: var(--xlg);
  z-index: 1;
}

.desc {
  padding-top: 16px;
  color: rgba(220, 220, 220, 0.685);

  z-index: 1;
}

.carousel {
  padding: 32px 0;
  width: 75%;
  position: relative;
  z-index: 1;
}
.carouselMobile {
  display: none;
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 32px 0;
}
.element {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 5;
}

.createBusiness {
  padding: 8px 16px;
  color: var(--white);
  position: relative;
  font-size: var(--md);
  z-index: 1;
}

.startABusiness {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 640px) {
  .carousel {
    display: none;
  }
  .carouselMobile {
    display: block;
  }
}
