.paginator {
  display: flex;
  flex-direction: column;
}

.tool {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.header {
  display: flex;
  padding: 4px;
  justify-content: space-between;
  align-items: center;
}
.headerDetails {
  display: flex;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu > *:not(:last-child) {
  margin-bottom: 16px;
}
.iconDropDown {
  display: flex;
}

.iconTool {
  width: 36px;
  height: 36px;
  margin-right: 8px;
}
