.formPlayground {
  border-radius: 8px;
  display: flex;
  background-color: var(--linkedin-bluegray);
  flex-direction: column;
  width: 100%;
  padding: 16px;
}

.header,
.main,
.footer {
  padding: 8px 16px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
}
.textareaDescription {
  width: 100%;
}
.textareaDescription > :last-child {
  margin-top: 8px;
  height: 120px;
}
.countryInput {
  display: flex;
  margin-top: 16px;
  flex-direction: column;
}
.countryInput > :first-child {
  margin-bottom: 8px;
}
.descriptionInput {
  margin-right: 16px;
}
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sliders {
  display: flex;
  margin: 16px 0;
  justify-content: space-between;
}

.slider {
  padding: 8px 16px;
  border: 1px solid var(--dark-gray);
  flex-basis: 40%;
  border-radius: 8px;
}
.texts {
  display: flex;
  justify-content: space-between;
}
.mobileInputs {
  display: none;
  width: 100%;
  padding: 8px;
}

.countryInput {
  display: flex;
  justify-content: flex-end;
}
.tagsInput {
  width: 100%;
  margin-top: 16px;
}
.tagsInput > :first-child {
  margin-bottom: 8px;
}
.countryInput.movedLeft {
  display: flex;
  justify-content: flex-start;
}
.selectPhilosofy {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}
.selectPhilosofy .label {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.selectPhilosofy .settings {
  display: flex;
}
.selectPhilosofy .settings > :first-child {
  margin-right: 32px;
}
.selectPhilosofy .settingBtn {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 8px 16px;
  width: 250px;
  border-radius: 8px;
}
.selectPhilosofy .selected {
  background-color: var(--gray-blue-light);
}
.selectPhilosofy .label > :first-child {
  margin-right: 8px;
}
.mobileInputs > * > :first-child {
  margin-bottom: 8px;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.drawer,
.mobileSpace {
  display: none;
}
@media screen and (max-width: 800px) {
  .formPlayground.alreadyIdea {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .inputs.alreadyIdea {
    display: none;
  }
  .descriptionInput.alreadyIdea {
    width: 100%;
  }
  .mobileInputs.alreadyIdea {
    display: block;
  }
  .main.alreadyIdea > :first-child {
    height: 150px !important;
  }
  .header.alreadyIdea > :nth-child(3) {
    width: 150px;
  }
  .mobileSpace.alreadyIdea {
    width: 1px;
    height: 1px;
    display: block;
  }
  .drawer.alreadyIdea {
    display: block;
  }
}
