.formPlayground {
  border-radius: 8px;
  display: flex;
  background-color: var(--linkedin-bluegray);
  flex-direction: column;
  width: 100%;
  margin: var(--base-margin);
  margin-bottom: calc(var(--base-margin) * 2);
  padding: 16px;
}
.header,
.main,
.footer {
  padding: 8px 16px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--dark-gray);
}

.main {
  display: flex;
  flex-direction: column;
}
.textareaDescription {
  width: 100%;
}
.textareaDescription > :first-child {
  height: 80px;
}
.descriptionInput {
  margin-right: 16px;
}
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sliders {
  display: flex;
  margin: 16px 0;
  justify-content: space-between;
}

.slider {
  padding: 4px 8px;
  border: 1px solid var(--dark-gray);
  flex-basis: 40%;
  border-radius: 8px;
}
.texts {
  display: flex;
  justify-content: space-between;
}
.mobileInputs {
  display: none;
  width: 100%;
  padding: 8px;
}

.countryInput {
  display: flex;
  justify-content: flex-end;
}
.tagsInput {
  width: 100%;
}
.countryInput.movedLeft {
  display: flex;
  justify-content: flex-start;
}

.mobileInputs > * > :first-child {
  margin-bottom: 8px;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.drawer,
.mobileSpace {
  display: none;
}
@media screen and (max-width: 800px) {
  .formPlayground.alreadyIdea {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .inputs.alreadyIdea {
    display: none;
  }
  .descriptionInput.alreadyIdea {
    width: 100%;
  }
  .mobileInputs.alreadyIdea {
    display: block;
  }
  .main.alreadyIdea > :first-child {
    height: 150px !important;
  }
  .header.alreadyIdea > :nth-child(3) {
    width: 150px;
  }
  .mobileSpace.alreadyIdea {
    width: 1px;
    height: 1px;
    display: block;
  }
  .drawer.alreadyIdea {
    display: block;
  }
}
