.formPlayground {
  border: 1px solid var(--dark-gray);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.header,
.main,
.footer {
  padding: 8px 16px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--dark-gray);
}

.main {
  display: flex;
}
.descriptionInput {
  width: 500px !important;
  margin-right: 16px;
}
.inputs {
  width: 250px;
}
.mobileInputs {
  display: none;
  width: 100%;
  padding: 8px;
}

.countryInput {
  display: flex;
  justify-content: flex-end;
}
.countryInput.movedLeft {
  display: flex;
  justify-content: flex-start;
}
.inputs > *,
.mobileInputs > * {
  margin-bottom: 20px;
}
.inputs > * > :first-child,
.mobileInputs > * > :first-child {
  margin-bottom: 8px;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}
.drawer,
.mobileSpace {
  display: none;
}
@media screen and (max-width: 800px) {
  .formPlayground {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .inputs {
    display: none;
  }
  .descriptionInput {
    width: 100%;
  }
  .mobileInputs {
    display: block;
  }
  .main > :first-child {
    height: 150px !important;
  }
  .header > :nth-child(3) {
    width: 150px;
  }
  .mobileSpace {
    width: 1px;
    height: 1px;
    display: block;
  }
  .drawer {
    display: block;
  }
}
