.landingPageNav {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease-in;
  transform: translateY(-100%);
  z-index: 5;
}
.landingPageNav > * {
  margin: 0 16px;
}
.elements {
  display: flex;
  align-items: center;
}
.logo.positioned {
  position: relative;
}
.show {
  transform: translateY(0%);
}
.buttonsAndLinks {
  display: flex;
}
.links {
  margin-right: 16px;
}
.links,
.buttons {
  display: flex;
}

.buttons {
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
}

.links > * {
  margin: 0 16px;
}

.buttons > :last-child {
  margin-left: 8px;
}

.buttons > :first-child {
  margin-right: 4px;
  position: relative;
  top: 1px;
}
.buttons > * {
  margin: 0 8px;
}
.loginBtn,
.startBusinessBtn {
  font-size: 16px;
}

.loginBtn {
  padding: 12px 40px !important;
}
.mobileMenu {
  display: none;
}

.menuIcon {
  display: flex;
  cursor: pointer;
}
.menuIcon > :first-child {
  width: 40px;
}
.menuIcon > :last-child {
}

.usermenuContent > * {
  margin-bottom: 16px;
}
@media screen and (max-width: 840px) {
  .buttonsAndLinks {
    display: none;
  }
  .mobileMenu {
    display: block;
  }
}
